
/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.home-menu {
    background: #2d3e50;
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

/*
 * layout padding
 */
.container {
    margin: 42px 8px 0 8px;
    padding: 8px 1em;
}

.notdeadyet {
    background: #eee;
    text-align: center;
    line-height: 44px;
    height: 44px;
}

    .notdeadyet.fade-0 {
        opacity: 1.00;
    }

    .notdeadyet.fade-1 {
        opacity: 0.95;
    }

    .notdeadyet.fade-2 {
        opacity: 0.90;
    }

    .notdeadyet.fade-3 {
        opacity: 0.85;
    }

    .notdeadyet.fade-4 {
        opacity: 0.80;
    }

    .notdeadyet.fade-5 {
        opacity: 0.75;
    }

    .notdeadyet.fade-6 {
        opacity: 0.70;
    }

    .notdeadyet.fade-7 {
        opacity: 0.65;
    }

    .notdeadyet.fade-8 {
        opacity: 0.60;
    }

    .notdeadyet.fade-9 {
        opacity: 0.55;
    }

    .notdeadyet.fade-10 {
        opacity: 0.50;
    }

    .notdeadyet.fade-11 {
        opacity: 0.45;
    }

    .notdeadyet.fade-12 {
        opacity: 0.40;
    }

    .notdeadyet.fade-13 {
        opacity: 0.35;
    }

    .notdeadyet.fade-14 {
        opacity: 0.30;
    }

    .notdeadyet.fade-15 {
        opacity: 0.25;
    }

    .notdeadyet.healthy {
        background-color: green;
    }
    .notdeadyet.unhealthy {
        background-color: red;
    }
